################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SchoolProject/.vs/SchoolProject.csproj.dtbcache.json
/SchoolProject/SchoolProject.csproj
