################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SchoolProject/.vs/SchoolProject.csproj.dtbcache.json
/SchoolProject/SchoolProject.csproj
/.vs/SchoolProject/FileContentIndex/0e17fa25-047b-4e08-92b3-eb4f1cdd773a.vsidx
/.vs/SchoolProject/FileContentIndex/34937c30-5c4a-4bc2-a916-4edb316219cd.vsidx
/.vs/SchoolProject/FileContentIndex/3edc4b8c-1508-4586-b2e2-7287fa3a3b77.vsidx
/.vs/SchoolProject/FileContentIndex/443e3bfa-d472-4114-9240-a3b90826d087.vsidx
/.vs/SchoolProject/FileContentIndex/44e60e76-e80f-4167-9313-0e62d6096926.vsidx
/.vs/SchoolProject/FileContentIndex/4c3957c1-6fef-4264-9689-08a56c9f4ea8.vsidx
/.vs/SchoolProject/FileContentIndex/6e7df257-b1ba-40bf-9cd1-fbddbae94071.vsidx
/.vs/SchoolProject/FileContentIndex/72e5210b-d7ad-42c1-bc5e-3ea3943d5b50.vsidx
